body {
    background-color:hsl(218, 23%, 16%);
    color: white;
    
}
.item {
    background-color: hsl(217, 19%, 24%);
    width: 450px;
    height: 300px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 200px;
}
#message {
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-align: center;
    position: relative;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
}
#me {
    display: none;
}


@media screen and (min-width:1024px)and (min-width: 768px){
    body {
        background-color:hsl(218, 23%, 16%);
        color: white;
        
    }
    .item {
        background-color: hsl(217, 19%, 24%);
        width: 450px;
        height: 300px;
        border-radius: 10px;
        display: block;
        justify-content: center;
        margin: auto;
        position: relative;
        top: 200px;
    }
    #message {
        font-size: 28px;
        font-weight: 800;
        color: white;
        text-align: center;
        position: relative;
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
    }
    #me {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    body{
        background-color: hsl(218, 23%, 16%);
        color: white;
    }
    .item {
        background-color: hsl(217, 19%, 24%);
        width: 300px;
        height: 200px;
        border-radius: 10px;
        display: block;
        justify-content: center;
        margin: auto;
        position: relative;
        top: 100px;
        padding-left: 40px;
        padding-right: 40px;
    }
    #message {
        font-size: 18px;
        font-weight: 800;
        color: white;
        text-align: center;
        position: relative;
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
    }
    #you {
        display: none;
    }
}
